{% extends "templates/pictemp.twig" %}

{% block prix %} 110€ {% endblock %}
{% block taille %} 53x83cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond14.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/chevalzoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/cheval.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/cheval3.jpg" data-src="{{ base_url() }}/ressources/img/cheval3.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/cheval4.jpg" data-src="{{ base_url() }}/ressources/img/cheval4.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}