{% extends "templates/pictemp.twig" %}

{% block prix %} 180€ {% endblock %}
{% block taille %} 118,5x78,5cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/sky.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/eaglezoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/eagle.jpg">
                <div class="camera_caption fadeFromBottom">
                <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/eagle.jpg" data-src="{{ base_url() }}/ressources/img/eagle.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/eagle3.jpg" data-src="{{ base_url() }}/ressources/img/eagle3.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. --> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}