{% extends "templates/pictemp.twig" %}

{% block prix %} 150€ {% endblock %}
{% block taille %} 61x122cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond13.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/hibouzoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/hibou.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/hibou2.jpg" data-src="{{ base_url() }}/ressources/img/hibou2.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/hibou3.jpg" data-src="{{ base_url() }}/ressources/img/hibou3.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/hibou1.jpg" data-src="{{ base_url() }}/ressources/img/hibou1.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}