{% extends "templates/pictemp.twig" %}

{% block prix %} VENDU {% endblock %}
{% block taille %} 64x77cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond22.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/licorne.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/licorne.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/licorne2.jpg" data-src="{{ base_url() }}/ressources/img/licorne2.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/licorne3.jpg" data-src="{{ base_url() }}/ressources/img/licorne3.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}