{% extends "templates/pictemp.twig" %}

{% block prix %} VENDU {% endblock %}
{% block taille %} 40x110cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond8.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/birdszoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/birds.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/birds.jpg" data-src="{{ base_url() }}/ressources/img/birds.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/birds3.jpg" data-src="{{ base_url() }}/ressources/img/birds3.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. --> 
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/birds4.jpg" data-src="{{ base_url() }}/ressources/img/birds4.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}