{% extends "templates/pictemp.twig" %}

{% block prix %} 40€ {% endblock %}
{% block taille %} 38x38,5cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond15.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/oiseaubranchezoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/oiseaubranche.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/oiseaubranche.jpg" data-src="{{ base_url() }}/ressources/img/oiseaubranche.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/oiseaubranche2.jpg" data-src="{{ base_url() }}/ressources/img/oiseaubranche2.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}