{% extends "templates/pictemp.twig" %}

{% block prix %} 80€ {% endblock %}
{% block taille %} 90x46cm {% endblock %}

{% block srcaltbackground %} src="{{ base_url() }}/ressources/img/background/fond10.jpg" alt="photo du ciel" {% endblock %}

{% block diapo %}
    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/ourszoom.jpg" data-src="{{ base_url() }}/ressources/img/imgzoom/ours.jpg">
                <div class="camera_caption fadeFromBottom">
                     <!-- text ............. -->
                </div>
            </div>
            <div data-thumb="{{ base_url() }}/ressources/img/thumbs/ours.jpg" data-src="{{ base_url() }}/ressources/img/ours.jpg">
                <div class="camera_caption fadeFromBottom">
                    <!-- text ............. -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}